ErrorDocument 404 /404.php

#Options +FollowSymlinks
RewriteEngine On
RewriteBase /

# The Friendly URLs part
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} ^.+\.js.*$
RewriteRule ^(.*)$ index.php?scriptid=$1 [QSA,L]
